:root {
  --NAV-COLOR: rgb(212, 212, 212);
  --NAV-BORDER-COLOR: #525151;
  --NAV-BGCOLOR: rgb(32, 32, 32);
  --NAV-BORDER: 2px solid var(--NAV-BORDER-COLOR);
  --CONTENT-H2-COLOR: rgb(212, 212, 212);
  --CONTENT-COLOR: rgb(188, 197, 206);
  --LINK-COLOR: rgb(225, 225, 225);
  --LINK-HOVER-BGCOLOR: rgb(64, 64, 64);
  --LINK-FOCUS-OUTLINE: rgb(82, 81, 81);
  --LINK-ACTIVE-COLOR: rgb(82, 81, 81);
  --ACCENT-COLOR: gold;
}

/* Navbar.css */
.NavBar {
  border-right: var(--NAV-BORDER);
  padding: 1rem;
  background-color: var(--NAV-BGCOLOR);
  width: 14rem;
  min-width: 14rem;
  box-sizing: border-box;
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
}

.NavBar > h2 {
  font-weight: 500;
  color: var(--NAV-COLOR);
}

.NavBar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
}

.NavBar li {
  padding-bottom: 0.3rem;
}

.NavBar li a {
  text-decoration: none;
  color: var(--NAV-COLOR);
  display: block;
  padding: 0.3rem;
  border-bottom: 2px solid transparent;
}

.NavBar li a:hover {
  background-color: var(--LINK-HOVER-BGCOLOR);
  cursor: pointer;
  border-radius: 7px;
}

.NavBar li a:active {
  color: var(--LINK-ACTIVE-COLOR);
}

.NavBar li a:focus {
  background-color: var(--LINK-FOCUS-OUTLINE);
  outline-offset: 4px;
  border-radius: 7px;
}

/* Scrollbar styles */
.NavBar::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 8px;
}

.NavBar::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.NavBar::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: rgb(82, 81, 81);
  border-radius: 10px;
}

.NavBar::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.divider {
  font-weight: 600;
}

/* App.css */
.app-container {
  display: flex;
}

.content {
  flex-grow: 1;
  text-align: left;
  padding: 2rem 12rem;
  margin-top: 2rem;
  margin-left: 14rem;
  color: var(--CONTENT-COLOR);
  overflow-y: auto;
  background-color: rgb(44, 44, 44);
}

.content h2 {
  color: var(--CONTENT-H2-COLOR);
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.content p, .personal-card--content {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.cover {
  padding: 0;
  width: 100%;
  height: 10rem;
}

/* STACK CSS */
.stack-container {
  padding: 2rem 12rem;
  margin-top: 2rem;
  background-color: rgb(40, 40, 40);
}

h2 {
  margin-bottom: 1rem;
  color: var(--CONTENT-H2-COLOR);
  font-weight: 700;
}

.cards-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  flex: 0 1 calc(50% - 1rem);
  box-sizing: border-box;
  color: var(--CONTENT-COLOR);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover,
.personal-card:hover {
  border: 3px solid var(--ACCENT-COLOR);
  box-shadow: 
    0 4px 8px rgba(82, 81, 81, 0.2),
    0 2px 4px rgba(212, 212, 212, 0.2),
    0 8px 16px rgba(82, 81, 81, 0.2),
    0 4px 12px rgba(212, 212, 212, 0.2),
    8px 32px 32px rgba(82, 81, 81, 0.2),
    8px 64px 64px rgba(82, 81, 81, 0.2);
  transform: scale(1.05) translateY(-0.5rem);
}

.card:hover::after,
.personal-card:hover::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: -10px;
  bottom: -10px;
  border: 2px solid rgba(82, 81, 81, 0.2);
  border-radius: 8px;
  z-index: -1;
  transform: rotate(-2deg);
}

.card--image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.card--title {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

/* Personal.css */

.personal-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  width: 80%;
  box-sizing: border-box;
  color: var(--CONTENT-COLOR);
  margin-bottom: 2rem;
  
}

.personal-card--image {
  width: 30%;
  height: auto;
  border-radius: 4px;
  margin-right: 1rem;
}

.personal-card--content {
  flex: 1;
  text-align: left;
}

.personal-card--title {
  margin-top: 0;
  font-size: 1.2rem;
}

.personal-card--links {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.personal-card--link {
  color: var(--ACCENT-COLOR);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.personal-card--link:hover {
  background-color: var(--ACCENT-COLOR);
  color: #fff;
}

/* SVG */
.svg-container {
  background-color: white;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}

.svg-container img {
  display: block;
}
